/* main */
.main {
	overflow: hidden;
	}

/* info-section */
.info-section {
	padding: 50px 0 60px;
	}

/* tour-info */
.tour-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 20px;
	&__img {
		width: 580px;
		height: 424px;
		border-radius: 20px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			}
		}
	&__description {
		display: flex;
		flex-direction: column;
		gap: 17px 0;
		p {
			font-size: 18px;
			line-height: 27px;
			}
		}
	}

/* note */
.note {
	padding: 20px;
	border: 1px solid var(--tertiary-border-color);
	border-radius: 20px;
	p {
		font-size: 16px;
		line-height: 24px;
		}
	}

/* constructor-section */
.constructor-section {
	position: relative;
	padding: 60px 0;
	&__dec {
		position: absolute;
		height: 100%;
		top: 0;
		left: -100px;
		right: -100px;
		transform: rotate(-3deg);
		overflow: hidden;
		background: url(../img/bg/gl-dec.jpg) top center no-repeat;
		background-size: 100%;
		}
	&__in {
		position: relative;
		z-index: 5;
		}
	}

/* constructor */
.constructor {
	.constructor-widget {
		margin: 0 0 30px;
		}
	}

/* constructor-widget */
.constructor-widget {
	padding: 30px;
	border-radius: 20px;
	background: var(--primary-widget-color);
	box-shadow: 0 4px 23px 0 rgba(7, 147, 203, 0.1);
	&.disabled {
    color: var(--seven-text-color);
    user-select: none;
    pointer-events: none;
    .radio {
    	input {
    		opacity: 0.2;
    		}
    	}
    *:after {
    	opacity: 0.2;
    	}
    }
	&__info-col {
		display: flex;
		flex-direction: column;
		gap: 10px 0;
		}
	&__small-text {
		font-size: 15px;
		line-height: 22px;
		}
	}

/* field-list */
.field-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 0;
	margin: 0 -10px;
	&_indent-bt-sm {
		margin-bottom: 20px;
		}
	&__item {
		padding: 0 10px;
		width: 25%;
		}
	}

/* user-type-panel */
.user-type-panel {
	display: flex;
	align-items: center;
	gap: 0 100px;
	margin: 0 0 20px;
	&__item {
		display: flex;
		align-items: center;
		gap: 0 20px;
		}
	&__agency-name {
		width: 277px;
		}
	}

/* lightpick */
section {
	&.lightpick {
		padding: 5px 0;
		width: 684px;
		background: none;
		border-radius: 0;
		box-shadow: none;
		}
	.lightpick {
		&__tooltip {
			display: none;
			}
		&__inner {
			position: relative;
		 	padding: 30px 20px 20px;
			border: 1px solid var(--secondary-border-color);
			background: var(--primary-background-color);
			border-radius: 10px;
		 	}
		&__toolbar {
			position: absolute;
			justify-content: space-between;
			align-items: center;
			padding: 0 20px;
			width: 100%;
			top: 36px;
			left: 0;
			text-align: left;
			button {
				margin: 0;
				width: 8px;
				height: 12px;
				font-size: 0;
				cursor: pointer;
				}
			}
		&__previous-action {
			background: url(../img/icons/prev-arrow.svg) center no-repeat;
      background-size: 100%;
			border-radius: 0;
			&.disabled {
				opacity: 0.3;
				user-select: none;
  			pointer-events: none;
				}
			}
		&__next-action {
			background: url(../img/icons/next-arrow.svg) center no-repeat;
      background-size: 100%;
			border-radius: 0;
			}
		&__month-title-bar {
			margin: 0 0 30px;
			justify-content: center;
			}
		&__month-title {
			display: flex;
			align-items: center;
			gap: 0 5px;
			margin: 0;
			padding: 0;
			select {
				display: none;
				}
			}
		&__month-text {
			display: block;
			font-size: 20px;
			font-family: var(--primary-font-family);
			font-weight: var(--quaternary-font-weight);
			text-transform: capitalize;
			line-height: 24px;
			}
		&__year-text {
			display: block;
			font-size: 20px;
			font-family: var(--primary-font-family);
			font-weight: var(--quaternary-font-weight);
			line-height: 24px;
			}
		&__days-of-the-week {
			margin: 0 0 17px;
			}
		&__day-of-the-week {
			font-size: 14px;
			font-family: var(--primary-font-family);
			font-weight: var(--secondary-font-weight);
			line-height: 18px;
			}
		&__months {
			grid-template-columns: repeat(2, 1fr) !important;
			gap: 0 25px;
			background: none;
			}
		&__month {
			padding: 0;
			width: 100%;
			background: none;
			}
		&__days {
			gap: 6px 0;
			}
		&__day {
			height: 44px;
			color: var(--ten-text-color);
			font-size: 14px;
			font-weight: var(--secondary-font-weight);
			line-height: 18px;
			cursor: pointer;
			&.first-day {
				border-radius: 50px 0 0 50px;
				&.is-in-range {
					&.is-end-date {
						&:before {
							border-radius: 100%;
							}
						}
					}
				&.last {
					&.is-in-range {
						border-radius: 100%;
						}
					&:hover {
						&:before {
							display: none !important;
							}
						}
					}
				&:hover {
					border-radius: 50px 0 0 50px;
					&:before {
						border-radius: 50px 0 0 50px;
						}
					}
				}
			&.last-day {
				border-radius: 0 50px 50px 0;
				&.first {
					&.is-in-range {
						border-radius: 100%;
						}
					&:hover {
						&:before {
							border-radius: 100%;
							}
						}
					}
				&:hover {
					&:before {
						border-radius: 0 50px 50px 0;
						}
					}
				}
			&.is-next-month {
				opacity: 0;
				visibility: hidden;
				user-select: none;
  			pointer-events: none;
				}
			&.is-previous-month {
				opacity: 0;
				visibility: hidden;
				}
			&:not(.is-disabled) {
				&:hover {
					color: var(--primary-text-color);
					background: var(--six-btn-color);
					border-radius: 100%;
					}
				}
			&.is-today {
				color: var(--ten-text-color);
				background: none;
				}
			&.is-end-date {
				color: var(--tertiary-text-color);
				font-weight: var(--secondary-font-weight);
				border-radius: 100% !important;
				&:hover {
					color: var(--tertiary-text-color);
					font-weight: var(--secondary-font-weight);
					}
				&.is-in-range {
					position: relative;
					color: var(--tertiary-text-color);
					background: var(--fifth-btn-color);
					border-radius: 100% !important;
					z-index: 2;
					&:before {
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: var(--six-btn-color);
						border-radius: 0 50px 50px 0;
						content: "";
						z-index: -1;
						}
					&:after {
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: var(--fifth-btn-color);
						border-radius: 100%;
						content: "";
						z-index: -1;
						}
					&.is-flipped {
						background: var(--fifth-btn-color);
						}
					}
				&.left-dec {
					&:before {
						border-radius: 50px 0 0 50px;
						}
					}
				}
			&.is-start-date {
				color: var(--tertiary-text-color);
				font-weight: var(--secondary-font-weight);
				border-radius: 100% !important;
				&:hover {
					color: var(--tertiary-text-color);
					font-weight: var(--secondary-font-weight);
					}
				&.is-end-date {
					&:before {
						border-radius: 100% !important;
						}
					}
				&.is-in-range {
					position: relative;
					color: var(--tertiary-text-color);
					background: var(--fifth-btn-color);
					border-radius: 100% !important;
					z-index: 3;
					&:before {
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: var(--six-btn-color);
						border-radius: 50px 0 0 50px;
						content: "";
						z-index: -1;
						}
					&:after {
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: var(--fifth-btn-color);
						border-radius: 100%;
						content: "";
						z-index: -1;
						}
					&.is-flipped {
						background: var(--fifth-btn-color);
						}
					}
				&.right-dec {
					&:before {
						border-radius: 0 50px 50px 0;
						}
					}
				}
			&.is-in-range {
				position: relative;
				color: var(--primary-text-color);
				background: var(--six-btn-color);
				z-index: 2;
				+ .last {
					position: relative;
					margin: 0;
					&:before {
						position: absolute;
						display: block;
						width: inherit;
						height: 100%;
						top: 0;
						right: 0;
						left: -29%;
						background: var(--six-btn-color);
						content: "";
						z-index: -1;
						border-radius: 0 50px 50px 0 !important;
						}
					}
				&.first {
					position: relative;
					border-radius: 50px 0 0 50px;
					z-index: 5;
					+ .is-in-range {
						&:before {
							position: absolute;
							display: block;
							width: inherit;
							height: 100%;
							top: 0;
							right: 0;
							left: -36%;
							background: var(--six-btn-color);
							content: "";
							z-index: -1;
							}
						}
					&:before {
						border-radius: 50px 0 0 50px;
						}
					&.is-start-date {
						&:before {
							border-radius: 100%;
							}
						}
					&.is-end-date {
						&:before {
							border-radius: 100%;
							}
						}
					}
				&.last {
					border-radius: 0 50px 50px 0;
					&:before {
						border-radius: 0 50px 50px 0;
						}
					&.is-start-date {
						&:before {
							border-radius: 100%;
							}
						}
					&.is-end-date {
						&:before {
							border-radius: 100%;
							}
						}
					}
				&:hover {
					position: relative;
					color: var(--tertiary-text-color);
					background: var(--fifth-btn-color);
					border-radius: 100%;
					z-index: 4;
					&:before {
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: var(--six-btn-color);
						content: "";
						z-index: -1;
						}
					&:after {
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: var(--fifth-btn-color);
						border-radius: 100%;
						content: "";
						z-index: -1;
						}
					}
				}
			}
		}
	}

/* choice-list */
.choice-list {
	display: flex;
	flex-direction: column;
	gap: 30px 0;
	}

/* constructor-tabs */
.constructor-tabs {
	&.disabled {
    color: var(--seven-text-color);
    user-select: none;
    pointer-events: none;
    .radio {
    	input {
    		opacity: 0.2;
    		}
    	}
    *:after {
    	opacity: 0.2;
    	}
    }
	&__nav {
		position: relative;
		z-index: 3;
		ul {
			display: flex;
			}
		li {
			padding: 10px 20px;
			font-size: 16px;
			line-height: 24px;
			background: var(--seven-background-color);
			border-radius: 10px 10px 0 0;
			cursor: pointer;
			transition: .5s color;
			&:hover {
				color: var(--secondary-text-color);
				}
			&.active {
				background: var(--primary-widget-color);
				cursor: default;
				&:hover {
					color: var(--primary-text-color);
					}
				}
			}
		}
	&__item {
		display: none;
		padding: 30px;
		background: var(--primary-widget-color);
		border-radius: 0 20px 20px 20px;
		box-shadow: 0 4px 23px 0 rgba(7, 147, 203, 0.1);
		&.active {
			display: block;
			}
		.title {
			margin: 0 0 10px;
			}
		p {
			margin: 0 0 30px;
			font-size: 16px;
			line-height: 24px;
			}
		}
	.gl-form {
		margin: 30px 0 0;
		padding: 0;
		max-width: 540px;
		background: none;
		border-radius: 0;
		box-shadow: none;
		}
	}

/* tour-schedules-info */
.tour-schedules-info {
	display: flex;
	align-items: flex-start;
	gap: 0 20px;
	margin: 0 0 30px;
	&__img {
		flex-shrink: 0;
		width: 350px;
		border-radius: 20px;
		overflow: hidden;
		img {
			width: 100%;
		  height: 100%;
		  object-fit: cover;
			}
		}
	&__description {
		display: flex;
		flex-direction: column;
		gap: 10px 0;
		.title {
			margin: 0;
			}
		p {
			margin: 0;
			font-size: 18px;
			line-height: 28px;
			}
		}
	}

/* checkbox-col */
.checkbox-col {
	display: flex;
	align-items: flex-start;
	gap: 0 68px;
	&__item {
		min-width: 232px;
		}
	&_pos-line {
		justify-content: space-between;
		gap: 0 30px;
		.checkbox-col__item {
			min-width: 110px;
			}
		.checkbox-col__item:last-child {
			flex-shrink: 0;
			width: 208px;
			}
		}
	}

/* checkbox-list */
.checkbox-list {
	display: flex;
	flex-direction: column;
	gap: 10px 0;
	}

/* city-field */
.city-field {
	display: flex;
	flex-direction: column;
	gap: 10px 0;
	.notification {

		}
	}

/* notification */
.notification {
	position: relative;
	top: 4px;
	&__icon {
		width: 16px;
		height: 16px;
		background: url(../img/icons/info.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
		}
	&__description {
		position: absolute;
		padding: 10px 20px;
		width: 284px;
		top: -40px;
		left: 21px;
		font-size: 14px;
		line-height: 22px;
		background: var(--primary-background-color);
		border-radius: 20px;
		opacity: 0;
		visibility: hidden;
		transition: .5s all;
		&.show {
			opacity: 1;
			visibility: visible;
			}
		}
	}

/* advantages-section */
.advantages-section {
	padding: 60px 0 80px;
	}

/* advantages */
.advantages {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 20px;
	&__item {
		padding: 20px;
		background: var(--secondary-widget-color);
		border-radius: 20px;
		box-shadow: 0 4px 23px 0 rgba(7, 147, 203, 0.1);
		}
	&__icon {
		margin: 0 0 10px;
		width: 48px;
		img {
			width: 100%;
			}
		}
	&__title {
		display: block;
		margin: 0 0 10px;
		font-size: 18px;
		font-weight: var(--quaternary-font-weight);
		line-height: 27px;
		}
	p {
		font-size: 16px;
		line-height: 24px;
		}
	}

/* feedback-section */
.feedback-section {
	padding: 0 0 80px;
	}

/* feedback */
.feedback {
	position: relative;
	margin: 0 -50px;
	padding: 28px 50px 30px;
	background: var(--secondary-widget-color);
	border-radius: 20px;
	overflow: hidden;
	&__left-dec {
		position: absolute;
		display: block;
		width: 452px;
		height: 452px;
		top: -152px;
		left: -196px;
		border-radius: 100%;
		content: "";
		&:before {
			position: absolute;
			display: block;
			width: 1px;
			height: 1px;
			top: 50%;
			left: 50%;
			background: var(--quaternary-background-color);
			border-radius: 100%;
			box-shadow: 0 0 250px 250px var(--quaternary-background-color);
			content: "";
			}
		}
	&__right-dec {
		position: absolute;
		width: 579px;
		height: 579px;
		top: 16px;
		right: -182px;
		border-radius: 100%;
		&:before {
			position: absolute;
			display: block;
			width: 1px;
			height: 1px;
			top: 50%;
			left: 50%;
			background: var(--quaternary-background-color);
			border-radius: 100%;
			box-shadow: 0 0 300px 300px var(--fifth-background-color);
			content: "";
			}
		}
	&__in {
		position: relative;
		display: flex;
		align-items: flex-start;
		gap: 0 120px;
		z-index: 3;
		}
	&__description {
		flex-shrink: 0;
		width: 480px;
		}
	&__big-text {
		margin: 0 0 20px;
		font-size: 20px;
		line-height: 30px;
		}
	&__text {
		margin: 0 0 50px;
		font-size: 18px;
		line-height: 27px;
		}
	&__dec-img {
		width: 106px;
		img {
			width: 100%;
			}
		}
	}

/* gl-form */
.gl-form {
	padding: 20px;
	background: var(--primary-background-color);
	border-radius: 20px;
	box-shadow: 0 4px 23px 0 rgba(7, 147, 203, 0.1);
	&__in {
		display: flex;
		flex-direction: column;
		gap: 10px 0;
		}
	&__two-col {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px 10px;
		}
	}

/* other-projects-section */
.other-projects-section {
	padding: 60px 0 80px;
	background: var(--secondary-background-color);
	}

/* other-projects */
.other-projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 20px;
	&__item {
		padding: 20px;
		text-align: center;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 20px;
		box-shadow: 0 4px 23px 0 rgba(7, 147, 203, 0.1);
		}
	&__img {
		display: block;
		margin: 0 auto 10px;
		max-width: 235px;
		width: 100%;
		height: 80px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			}
		}
	&__title {
		display: block;
		margin: 0 0 4px;
		color: var(--primary-text-color);
		font-size: 18px;
		font-weight: var(--tertiary-font-weight);
		line-height: 27px;
		}
	&__text {
		display: block;
		color: var(--primary-text-color);
		font-size: 16px;
		font-weight: var(--secondary-font-weight);
		line-height: 24px;
		}
	}

/* authentication-section */
.authentication-section {
	position: relative;
	padding: 40px 0 80px;
	&__dec-left {
		position: absolute;
		width: 1008px;
		height: 1008px;
		top: 78px;
		left: -315px;
		border-radius: 100%;
		&:before {
			position: absolute;
			display: block;
			width: 1px;
			height: 1px;
			top: 50%;
			left: 50%;
			background: var(--quaternary-background-color);
			border-radius: 100%;
			box-shadow: 0 0 1000px 1000px var(--quaternary-background-color);
			opacity: 0.2;
			content: "";
			z-index: 3;
			}
		}
	&__dec-right {
		position: absolute;
		width: 1008px;
		height: 1008px;
		top: 0;
		right: -384px;
		border-radius: 100%;
		&:before {
			position: absolute;
			display: block;
			width: 1px;
			height: 1px;
			top: 50%;
			left: 50%;
			background: var(--quaternary-background-color);
			border-radius: 100%;
			box-shadow: 0 0 1000px 1000px var(--fifth-background-color);
			opacity: 0.2;
			content: "";
			z-index: 2;
			}
		}
	&__in {
		position: relative;
		z-index: 5;
		}
	.big-title {
		text-align: center;
		}
	}

/* authentication-form */
.authentication-form {
	padding: 30px;
  border-radius: 20px;
  background: var(--primary-widget-color);
  box-shadow: 0 4px 23px 0 rgba(7, 147, 203, 0.1);
  &_small-size {
  	margin: 0 auto;
  	max-width: 420px;
  	}
  p {
  	margin: 0 0 20px;
  	font-size: 18px;
  	line-height: 24px;
  	}
  &__list {
  	display: flex;
  	flex-direction: column;
  	gap: 20px 0;
  	&.changed {
  		display: grid;
  		grid-template-columns: repeat(3, 1fr);
  		gap: 20px 20px;
  		fieldset {
  			&.pos-bottom {
  				grid-column: 2/1;
  				}
  			}
  		}
  	}
  &__text-col {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	gap: 0 20px;
  	margin: 0 0 5px;
  	label {
  		margin: 0;
  		}
  	}
  .switch-panel {
  	padding: 10px 0 0;
  	}
  &__btns-col {
  	display: flex;
  	flex-direction: column;
  	gap: 10px 0;
  	}
  &__bottom-col {
  	display: flex;
  	flex-direction: column;
  	gap: 20px 0;
  	}
	}